@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/styles/base";
@import "@/styles/components";
@import "@/styles/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.outlined {
  outline: 1px rgba(255, 0, 0, 0.1) solid;
  * {
    outline: 1px rgba(255, 0, 0, 0.1) solid;
  }
}

body {
  @apply text-body min-h-[100dvh] flex flex-col;
}

header {
  @apply md:py-5;
}

h1, .h1 {
  @apply text-[28px] leading-none font-bold;
}
h2, .h2 {
  @apply text-[26px] leading-none font-bold;
}
h3, .h3 {
  @apply text-[24px] leading-none font-bold;
}

footer {
  @apply py-5;
}

form {
  @apply text-body;
  input,
  textarea,
  select {
    @apply p-3 w-full ring-0 outline-none border rounded-md;
  }
}