@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/base";
@import "./styles/components";
@import "./styles/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* * {
  outline: 1px red solid;
} */

body {
  color: "#333333";
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply min-h-[100dvh] flex flex-col;
}